{% extends 'base.html' %}

{% block content %}
	<div class="col-sm-5 m-auto">
		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
				<p class="alert alert-danger my-3">{{error}}</p>
			{% endfor %}
		{% endif %}
		<div class="card card-custom mx-4 mb-3 m-auto">
			<h3 style="text-align: center; margin-top: 10px;">Register</h3>
			<hr />
			<div class="card-body">		
				<form method="POST" novalidate>
					{% csrf_token %}
					{% for elements in form %}
						<div class="form-group">
							{{elements.label_tag}} {{elements}} <small class="text-danger">{{elements.errors | striptags}}</small>
						</div>
					{% endfor %}
					<input type="submit" value="Update" class="btn btn-primary">
					<a href="{% url 'chat:home' %}" class="btn btn-success">Back</a>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}